section.blog-update.text-center#bloggy
    .container
        h5 our blog
        h2.after Blog Update
        #blog.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#blog' data-slide-to='0')
                li(data-target='#blog' data-slide-to='1')
                li(data-target='#blog' data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    .blog-box
                        h2 What Makes Users Want
                            br 
                            | To Share a Video On
                            br 
                            | Social Media ?
                        span Jun 30, 2020 / Feb 14, 2020
                        p We recently launched a new website for
                            br
                            | a Vital client and wanted to share some 
                            br
                            | of the cool features we were able...
                        button.read Read More
                            i.fas.fa-arrow-right
                .carousel-item
                    .blog-box
                        h2 Bumper Ads: How to Tell
                            br 
                            |  a Story in 6 Seconds
                            br 
                            | On Social Media
                        span Jun 30, 2020 / Feb 14, 2020
                        p We recently launched a new website for
                            br
                            | a Vital client and wanted to share some 
                            br
                            | of the cool features we were able...
                        button.read Read More
                            i.fas.fa-arrow-right
                .carousel-item
                    .blog-box
                        h2 What Makes Users Want
                            br 
                            | To Share a Video On
                            br 
                            | Social Media ?
                        span Jun 30, 2020 / Feb 14, 2020
                        p We recently launched a new website for
                            br
                            | a Vital client and wanted to share some 
                            br
                            | of the cool features we were able...
                        button.read Read More 
                            i.fas.fa-arrow-right
            a.carousel-control-prev(href='#blog' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#blog' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
