footer
    .container
        .about-us
            .row
                .col-md-4.col-sm-12
                    .all
                        h5 About Us
                        p Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an award-winning, full-service production company specializing.
                        button.read Read More
                            i.fas.fa-arrow-right
                .col-md-2.col-sm-12
                    .all
                        h5 Who We Are
                        ul.list-unstyled
                            li Team
                            li Locations
                            li Connections
                            li Career
                .col-md-2.col-sm-12
                    .all
                        h5 Our Work
                        ul.list-unstyled
                            li Feature
                            li Latest
                            li Browse Archive
                            li Video for web
                .col-md-4.col-sm-12
                    .all
                        h5 New Sletter
                        p Videoprah is an award-winning, full-service
                            br
                            |  production company specializing.
                        .send-us
                            input(type="email" placeholder="Email")
                            i.fas.fa-paper-plane
        .copy 
            .row
                .col-md-6.col-sm-12
                    .left-copy
                        p Copyright &copy All rights reserved to COLORLIB | Redesigned By Ahmed Elabasy 
                .col-md-6.col-sm-12
                    .footer-links
                        ul.link-unstyled
                            li
                                a(href="https://www.facebook.com/mesho.elabasy" target="_blank"): i.rounded-circle.fab.fa-facebook-f
                            li
                                a(href="https://twitter.com/AhmedElabasy_" target="_blank"): i.rounded-circle.fab.fa-twitter
                            li
                                a(href="https://www.linkedin.com/in/ahmed-elabasy-6391111b2/" target="_blank"): i.rounded-circle.fab.fa-linkedin-in
                            li
                                a(href="https://www.instagram.com/ahmedelabasy_/" target="_blank"): i.rounded-circle.fab.fa-instagram
                            


