// Start HEADER
header
    include navbar
    // Start Header Slider           
    .container 
        img(src="images/head.jpg")
        ul.social.list-unstyled
            li
                a(href="https://www.facebook.com/mesho.elabasy" target="_blank"): i.fab.fa-facebook-f
            li
                a(href="https://twitter.com/AhmedElabasy_" target="_blank"): i.fab.fa-twitter
            li
                a(href="https://www.linkedin.com/in/ahmed-elabasy-6391111b2/" target="_blank"): i.fab.fa-linkedin-in
            li
                a(href="https://www.instagram.com/ahmedelabasy_/" target="_blank"): i.fab.fa-instagram
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    .row
                        .col-md-6.info
                            p.lead for website and video Editing
                            h2 VIDEOGRAPHER’S
                                br 
                                | PORTFOLIO
                            button.main-button See More About Us
                .carousel-item
                    .row
                        .col-md-6.info
                            p.lead for Showing  Online Vedios
                            h2 VIDEOGRAPHER’S
                                br 
                                | PORTFOLIO
                            button.main-button See More About Us
                .carousel-item
                        .row
                            .col-md-6.info
                                p.lead Videios With High Quality
                                h2 VIDEOGRAPHER’S
                                    br 
                                    | PORTFOLIO
                                button.main-button See More About Us
            ol.carousel-indicators
                span.active(data-target='#carouselExampleIndicators' data-slide-to='0') 01
                span(data-target='#carouselExampleIndicators' data-slide-to='1') 02
                span(data-target='#carouselExampleIndicators' data-slide-to='2') 03
    
