section.gallery#gallery
    .box.wow.bounceInLeft
    .box.wow.bounceInDown
    .box.wow.bounceInDown
    .box.wow.bounceInRight
    .box.wow.bounceInLeft
    .box.wow.bounceInLeft
    .box.wow.bounceInUp
    


