// Start Our Services
section.serv#serv
    .container
        .row
            .col-md-4.col-sm-12.our-serv 
                h5.text-uppercase Our Services
                h2.text-uppercase.h1.after What we Do ?
                p If you hire a videographer of our team you will get a video professional to make a custom video for your business and, once the project is over.
                button.main-button View All Services
            .col-md-8.we-do
                .row
                    .col-md-6.col-sm-12.products
                        .product 
                            i.fab.fa-dribbble.fa-lg
                        h4 Motion Graphics
                        p Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.
                    .col-md-6.col-sm-12.products
                        .product 
                            i.far.fa-clipboard.fa-lg
                        h4 Scriptwriting and editing
                        p Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.
                    .col-md-6.col-sm-12.products
                        .product 
                            i.fas.fa-border-style.fa-lg
                        h4 Video distribution
                        p Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.
                    .col-md-6.col-sm-12.products
                        .product 
                            i.fas.fa-link.fa-lg
                        h4 Video hosting
                        p Whether you’re halfway through the editing process, or you haven’t even started, our post production services can put the finishing touches.
