.statistics
    .container
        .row
            .col-sm-12.col-md-6.col-lg-4.col-xl-3
                .stat.first-item
                    .unstat
                        i.far.fa-clipboard.fa-5x
                        h2 367
                        p Completed Projects
            .col-sm-12.col-md-6.col-lg-4.col-xl-3
                .stat.sec-item
                    .unstat
                        i.far.fa-user.fa-5x
                        h2 1068
                        p Happy Clients
            .col-sm-12.col-md-6.col-lg-4.col-xl-3
                .stat.third-item
                    .unstat
                        i.far.fa-handshake.fa-5x
                        h2 454
                        p Perspective Clients
            .col-sm-12.col-md-6.col-lg-12.col-xl-3
                .stat.forth-item
                    .unstat
                        i.far.fa-lightbulb.fa-5x
                        h2 978
                        p New Ideas
