section.our-team
    .container
        .head
            h6 Nice To Meet
            h2.after Our Team
        .team-faces.text-center
        
            .row
                .col-sm-12.col-md-6.col-lg-3.col-md-6.members.p-0
                    .mem.first-mem.gradiant
                        .text
                            h4 Amanda Stone
                            p Videographer
                            ul.list-unstyled
                                li: i.fab.fa-facebook-f
                                li: i.fab.fa-twitter
                                li: i.fab.fa-dribbble
                                li: i.fab.fa-youtube
                .col-sm-12.col-md-6.col-lg-3.col-md-6.members.p-0
                    .mem.sec-mem.gradiant
                        .text
                            h4 Amanda Stone
                            p Videographer
                            ul.list-unstyled
                                li: i.fab.fa-facebook-f
                                li: i.fab.fa-twitter
                                li: i.fab.fa-dribbble
                                li: i.fab.fa-youtube
                .col-sm-12.col-md-6.col-lg-3.col-md-6.members.p-0
                    .mem.third-mem.gradiant
                        .text
                            h4 Amanda Stone
                            p Videographer
                            ul.list-unstyled
                                li: i.fab.fa-facebook-f
                                li: i.fab.fa-twitter
                                li: i.fab.fa-dribbble
                                li: i.fab.fa-youtube
                .col-sm-12.col-md-6.col-lg-3.col-md-6.members.p-0
                    .mem.fourth-mem.gradiant
                        .text
                            h4 Amanda Stone
                            p Videographer
                            ul.list-unstyled
                                li: i.fab.fa-facebook-f
                                li: i.fab.fa-twitter
                                li: i.fab.fa-dribbble
                                li: i.fab.fa-youtube
        button.main-button.mem-button Meet Our Team