*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: $bgcolor;
}

input:focus, select:focus, textarea:focus, button:focus{
    outline: 0;
}
.sortable-handler {
    touch-action: none;
}