.statistics{
    min-height: 870px;
    padding-top: 390px;
    overflow: hidden;
    background-color: #100028;
    @media (max-width: 1199px){
        min-height: 500px;
        padding: 80px 0 70px 0;
    }
    .stat{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: 255px;
        height: 255px;
        transform: rotate(45deg);
        background-color: #1a083d;
        position: relative;
        @media (max-width: 1199px){
            transform: rotate(0deg);
            width: 100%;
        }
        &.sec-item, &.forth-item{
            margin-top: -185px;
            @media (max-width: 1199px){
                margin-top: 0;
            }
        }
        &.first-item{
            &::before{
                position: absolute;
                left: -1px;
                bottom: 24px;
                height: 636px;
                width: 636px;
                border-left: 1px solid #333;
                border-top: 1px solid #333;
                content: "";
                z-index: -1;
                @media (max-width: 1199px){
                    border: none;
                }
            }
        }
        &.sec-item{
            &::before{
                left: -328px;
                bottom: -78px;
                border-right: 1px solid #333;
                border-bottom: 1px solid #333;
                border-left: none;
                border-top: none;
                position: absolute;
                height: 667px;
                width: 660px;
                content: "";
                @media (max-width: 1199px){
                    border: none;
                }
            }
        }
        &.third-item{
            &::before{
                right: -326px;
                top: -77px;
                border-left: 1px solid #333;
                border-top: 1px solid #333;
                border-right: none;
                border-bottom: none;
                position: absolute;
                height: 659px;
                width: 658px;
                content: "";
                @media (max-width: 1199px){
                    border: none;
                }
            }
        }
        &.forth-item{
            &::before{
                left: -403px;
                bottom: -404px;
                border-right: 1px solid #333;
                border-bottom: 1px solid #333;
                border-left: none;
                border-top: none;
                position: absolute;
                height: 659px;
                width: 658px;
                content: "";
                @media (max-width: 1199px){
                    border: none;
                }
            }
        }
        .unstat{
            transform: rotate(-45deg);
            @media (max-width: 1199px){
                transform: rotate(0deg);
            }
        }
        i{
            color: $mainColor;
            font-size: 55px;
            margin-bottom: 20px;
        }
        h2{
            font-weight: bold;
            font-family: $play;
            font-size: 60px;
            color: #FFF;
        }
        p{
            color: #FFF;
            font-size: 15px;
        }
    }
}