.our-team{
    min-height: 740px;
    padding: 120px 0 20px;
    background-image: url("../images/team1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 9%;
    position: relative;
    @media (max-width: 990px){
        min-height: 940px;
        padding: 110px 0 120px;
    }
    .head{
        margin-bottom: 70px;
        h6 ,h2{
            color: #FFF;
        }
        h6{
            text-transform: uppercase;
            font-family: $raleway;
            font-weight: 500;
            letter-spacing: 2px;
        }
        h2{
            position: relative;
            text-transform: uppercase;
            font-family: $play;
            font-weight: bold;
            letter-spacing: 1px;
            padding-bottom: 15px;
        }
    }
    .team-faces{
        .members{
            margin-bottom: 0px;
            @media (max-width: 767px){
                margin-bottom: 10px;
            }
            .mem{
                position: relative;
                overflow: hidden;
                @media (max-width: 991px) {
                    text-align: center;
                }
                &.first-mem{
                    height: 390px;
                    background-image: url("../images/m1.jpeg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: inherit;
                    @media (max-width: 991px){
                        height: 430px;
                    }
                }
                &.sec-mem{
                    height: 390px;
                    background-image: url("../images/m3.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: inherit;
                    margin-top: -60px;
                    @media (max-width: 991px){
                        margin-top:0;
                        height: 430px;
                    }
                }
                &.third-mem{
                    height: 390px;
                    background-image: url("../images/m2.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: inherit;
                    margin-top: -120px;
                    @media (max-width: 991px){
                        margin-top:0;
                        height: 430px;
                    }
                }
                &.fourth-mem{
                    height: 390px;
                    background-image: url("../images/m5.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: inherit;
                    margin-top: -180px;
                    @media (max-width: 991px){
                        margin-top:0;
                        height: 430px;
                    }
                }
                .text{
                    h4{
                        text-transform: uppercase;
                        font-family: $play;
                        font-weight: bold;
                    }
                    p{
                        font-weight: bold;
                        font-size: 15px;
                        font-family: $raleway;
                    }
                    ul{
                        li{
                            display: inline-block;
                            margin-right: 15px;
                            cursor: pointer;
                        }
                    }
                }
                &:hover .text{
                    bottom: 10px;
                }
            }
        }
    }
    .mem-button{
        position: absolute;
        right: 200px;
        bottom: 70px;
        @media (max-width: 500px){
            right: 25%;
            bottom: 2%;
        }
        @media (min-width: 501px) and (max-width:990px){
            bottom: 2%;
            right: 35%;
        }
    }
}