<!DOCTYPE html>
html
    head
        include pug/layout/metas
        title Contact Us
            
        include pug/layout/styles
    body
        include pug/layout/contact_head

        include pug/layout/scripts
        script(src="js/contact.js")
