<!DOCTYPE html>
html
    head
        include pug/layout/metas
        title Vidplayer
        include pug/layout/styles
    body
        include pug/components/scrollbtn
        include pug/layout/header
        include pug/layout/Services
        include pug/layout/images
        include pug/layout/statistics
        include pug/layout/team
        include pug/layout/blog
        include pug/layout/drone
        include pug/layout/footer

        include pug/layout/scripts